.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.bio-para {
    font-size: 12px;
}

.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}

.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 {
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

//Buttons 
%btn-shared {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: white;
        background-color: green;
    }
    &-light {
        @extend %btn-shared;
        color: $dark-color;
        background-color: $light-color;
    }
    &-light:hover {
        background-color: green;
        color: white;
    }
    &-dark {
        @extend %btn-shared;
        color: white;
        background-color: $main-color;
    }
    &-dark:hover {
        background-color: black;
        color: white;
        border-radius: 25px;
    }
    &-work {
        background-color: $dark-color;
        padding: 1rem;
        margin: 0 0.3rem;
        transition: all 0.2s ease-in;
        &:hover {
            background-color: $main-color;
            border-radius: 20px;
        }
    }
}

.bottom-line {
    margin: 20px;
    border: 0.5px solid $main-color;
    // width: 30px;
}