//Sizing Variables
$website-width: 1280px;
//Color Variables
$main-color: green;
$light-color:#f4f4f4;
$dark-color:#333;
$med-color:#ccc;
$border-color: black;
$card-color: #fcfcfc;
//Image
$bg-image: url('../img/Cover.jpg');